{{ theme:partial name="header" }}
	
<!-- start: title -->
<div class="page-title">
	<div class="section-wrapper">
		<div class="container">
			<h2>关于我们</h2>
		</div>
	</div>
</div><!-- end: title -->


{{ template:body }}

	


<!-- start: do -->
<div class="section-do">
	<div class="section-wrapper">
		<div class="container">
			<div class="row-fluid">

				<div class="span12">
					<div class="separator">
						<div class="left">
							<div class="lines">
								<div>
								<h2 class="lines-title">我们的会员</h2>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="span6">
					<div class="about-tabs">
			            <ul class="nav nav-tabs" id="myTab">
			              <li class="active"><a data-toggle="tab" href="#device">Device</a></li>
			              <li class=""><a data-toggle="tab" href="#brand">Brand</a></li>
			            </ul>
			            <div class="tab-content" id="myTabContent">
			              <div id="device" class="tab-pane fade active in">
			                
							{{ theme:image file="photos/do-1.png" class="img-content"}}

			                <h4>Device-Responsive Compatibility</h4>

			                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ducimus harum animi debitis dolore in vitae consequuntur. Nulla fuga eos aliquam pariatur nesciunt neque perferendis magni aut laudantium optio. Excepturi!</p>

			                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam perferendis optio modi repellendus a illo accusamus magnam totam pariatur! Vel tempora velit recusandae repudiandae tenetur cum hic in dignissimos!</p>

			                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ea fugiat saepe doloremque quas iste quaerat adipisci nulla laborum nam nesciunt iusto voluptates illo aliquam ipsam molestias enim doloribus asperiores?</p>
			              </div>
			              <div id="brand" class="tab-pane fade">

			              	<h4>Your Brand is Showing</h4>

			                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ea fugiat saepe doloremque quas iste quaerat adipisci nulla laborum nam nesciunt iusto voluptates illo aliquam ipsam molestias enim doloribus asperiores?</p>

			                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam perferendis optio modi repellendus a illo accusamus magnam totam pariatur! Vel tempora velit recusandae repudiandae tenetur cum hic in dignissimos!</p>			                
			              </div>
			            </div>
					 </div>
				</div>	 


				<div class="span5 subscribe">

					<div class="separator">
						<div class="">
							<div class="lines">
								<div>
									<h2 class="lines-title">Want some more?</h2>
								</div>
							</div>
						</div>
					</div>

					<div class="blank">&nbsp;</div>

					<div class="alert alert-block alert-error fade in">  
			            <h4 class="alert-heading">Subscribe for monthly updates:</h4>
			            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit dolores similique animi totam temporibus aspernatur enim itaque fugiat ipsa corporis magni placeat laudantium in asperiores saepe odio doloribus? At nam?</p>

						<form id="subscribe">
							<input  type="text" placeholder="Enter your name" class="span8 subs">
							<input type="text" placeholder="Enter email adress" class="span8 subs">				    <button type="button" class="btn btn-color ">Subscribe</button>
						</form>

			            <p>
			              
			            </p>
         			</div>					

				</div>

			</div>



		</div>
	</div>			
 </div><!-- end: do -->




<!-- start: social icon -->
<div class="section-wrapper section-icon social-icon">
	<div class="container">
		<div class="row">

			<div class="social-icon-phone clear-phone">
				<div class="span1 offset3">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-facebook icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b facebook">
					      	<a href="#"><span class="icon-back"><i class="icon-facebook icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>				
				
				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-twitter icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b twitter">
					      	<a href="#"><span class="icon-back"><i class="icon-twitter icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>	

				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-google-plus icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b google">
					      	<a href="#"><span class="icon-back"><i class="icon-google-plus icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>					
			</div>

			<div class="social-icon-phone clear-phone">
				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-github icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b Google">
					      	<a href="#"><span class="icon-back"><i class="icon-github icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>	

				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-pinterest icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b pinterest">
					      	<a href="#"><span class="icon-back"><i class="icon-pinterest icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>					

				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-linkedin icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b linkedin">
					      	<a href="#"><span class="icon-back"><i class="icon-linkedin icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>	
			</div>
		</div>			
	</div>
</div><!-- end: social icon -->

{{ theme:partial name="footer" }}