{{ theme:partial name="header" }}
	
<!-- start: slider -->
<div class="slider-wrapper slider-wrapper">

            <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">
				
					<div class="sl-slide bg-1" data-orientation="horizontal" >
						<div class="sl-slide-inner">
							<div class="deco">
							{{ theme:image file="home-slider/responsive-showcase.png" }}
							</div>
							<a href="features.html"><h2>CBC来了!啥？ <span class="btn btn-color">快去瞧瞧</span></h2>	</a>						
						</div>
					</div>
					
					<div class="sl-slide bg-2" data-orientation="vertical">
						<div class="sl-slide-inner">
							<div class="deco">
							{{ theme:image file="home-slider/macbook-air.png" }}
							</div>
							<a href="features.html"><h2>烦腻国内无聊的生活，享受澳洲的生活体验</h2></a>	
						</div>
					</div>
					
					<div class="sl-slide bg-3" data-orientation="horizontal">
						<div class="sl-slide-inner">
							<div class="deco">
							{{ theme:image file="home-slider/loupe-screenshot.png" }}
							</div>
							<a href="features.html"><h2>在澳洲的岛国，还没体验过航海，那你还等什么？</h2></a>	
						</div>
					</div>

					<div class="sl-slide bg-4" data-orientation="vertical">
						<div class="sl-slide-inner">
							<div class="deco"></div>
							<a href="features.html"><h2><span class="btn btn-color">动起来，看看最新有啥好玩的</span></h2></a>	
						</div>
					</div>					
				
				</div><!-- /sl-slider -->
				
				<nav id="nav-arrows" class="nav-arrows">
					<span class="nav-arrow-prev">Previous</span>
					<span class="nav-arrow-next">Next</span>
				</nav>

				<nav id="nav-dots" class="nav-dots">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
					<span></span>
				</nav>

			</div><!-- /slider-wrapper -->
	

</div><!-- end: slider -->


<!-- start: lastest-events -->
<div class="section-wrapper lastest-work">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="separator">
					<div class="left">
						<div class="lines">
							<div>
							<h2 class="lines-title">推荐活动</h2>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="span3">
				<div class="white-content">
					<div class="img-mask hover-mask">
						{{ theme:image file="photos/app-1.jpg" }}
						<div class="flip-container">
						  <div class="flipper">
						    <div class="back">
						      <div class="flip-b">
						      	<a href="#"><span class="icon-back"><i class="icon-plus-sign"></i></span></a>
						      </div>
						    </div>
						  </div>
						</div>
						<span class="hover-fade"><i class="icon-plus-sign icon-3x"></i></span>					
					</div>							
					<a href="#"><h5>帆船挑战赛 <span class="white-title"><i class="icon-plus"></i></span></h5></a>
					<p>帆影点点荡漾团队智慧，乘风破浪跨越艰难使命；高贵典雅乐享大海景致，竞技娱乐快意人生情怀。鸿洲帆船挑战赛邀您鉴赏汇聚四岛的海岸极境。竞逐海上荣...</p>
				</div>
			</div>
			<div class="span3">
				<div class="white-content">
					<div class="img-mask hover-mask">
						{{ theme:image file="photos/app-2.jpg" }}
						<div class="flip-container">
						  <div class="flipper">
						    <div class="back">
						      <div class="flip-b">
						      	<a href="#"><span class="icon-back"><i class="icon-plus-sign"></i></span></a>
						      </div>
						    </div>
						  </div>
						</div>							
						<span class="hover-fade"><i class="icon-plus-sign icon-3x"></i></span>					
					</div>
					<a href="#"><h5>海上求婚仪式 <span class="white-title"><i class="icon-plus"></i></span></h5></a>
					<p>为您树一株浪漫的奇葩，孕育一生的回味。一座游艇，一片蔚蓝，为您酿造一生的甜蜜。以海为名，以船为媒。鸿洲国际游艇会为您专业铸造奢华游艇婚礼。</p>
				</div>
			</div>
			<div class="span3">
				<div class="white-content">
					<div class="img-mask hover-mask">
						{{ theme:image file="photos/app-3.jpg" }}
						<div class="flip-container">
						  <div class="flipper">
						    <div class="back">
						      <div class="flip-b">
						      	<a href="#"><span class="icon-back"><i class="icon-plus-sign"></i></span></a>
						      </div>
						    </div>
						  </div>
						</div>							
						<span class="hover-fade"><i class="icon-plus-sign icon-3x"></i></span>
					</div>
					<a href="#"><h5>游艇鸡尾酒 <span class="white-title"><i class="icon-plus"></i></span></h5></a>
					<p>奢华碰撞，圈层际会。大海之上，觥筹交错问人生；游艇派对，舞乐人生快意享。鸿洲国际游艇会携世界顶级游艇驶入三亚海，为您酝酿巅峰游艇主题酒会，恭...</p>	
				</div>
			</div>
			<div class="span3">
				<div class="white-content">
					<div class="img-mask hover-mask">
						{{ theme:image file="photos/app-4.jpg" }}
						<div class="flip-container">
						  <div class="flipper">
						    <div class="back">
						      <div class="flip-b">
						      	<a href="#"><span class="icon-back"><i class="icon-plus-sign"></i></span></a>
						      </div>
						    </div>
						  </div>
						</div>							
						<span class="hover-fade"><i class="icon-plus-sign icon-3x"></i></span>
					</div>
					<a href="#"><h5>祈福之旅 <span class="white-title"><i class="icon-plus"></i></span></h5></a>
					<p>秉一颗虔诚之心，架一座海上游艇，赴一趟福如东海，祈一世福寿安康。鸿洲东海祈福之旅携您莅赏东海龙王庙，畅览第一福海妙景英姿，撒播一世福寿情缘。...</p>	
				</div>
			</div>						
		</div>
	</div>
</div><!-- end: lastest-events -->

<!-- start: hello -->
<div class="section-wrapper">
	<div class="container">
		<div class="row">
			<div class="span6">
				<div class="separator">
					<div class="left">
						<div class="lines">
							<div>
							<h2 class="lines-title">Say hello to CBC!</h2>
							</div>
						</div>
					</div>
				</div>		
				<i class="icon-check icon-4x pull-left icon-muted"></i><p> 澳洲中国游艇荟，位于墨尔本Dockland , 在墨尔本最美丽的海港中，是澳洲第一家为航海，划艇爱好者成立的俱乐部。本会宗旨是推动澳洲游艇活动，将被认为是富豪享受的游艇活动概念重新定位，以满足精英人士对此活动的各项需求。</p>
				<p>虽然我们舍弃一切昂贵会所，与澳洲多家游艇俱乐部合作，我们拥有33尺，43尺，55尺等多艘澳洲最有名品牌的游艇，如此得天独厚的环境和先进的设备，让热爱大海的你能更亲密的与她接触，领略她的魅力，探索她的神秘。</p>
			</div>

			<div class="span6">
				<div class="separator">
					<div class="left">
						<div class="lines">
							<div>
							<h2 class="lines-title">航海体验中心 </h2>
							</div>
						</div>
					</div>
				</div>	

			<div class="accordion" id="accordion2">

			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			        商务拓展 <span class="accordion-icon"><i class="icon-angle-down"></i></span>
			      </a>
			    </div>
			    <div id="collapseOne" class="accordion-body collapse in">
			      <div class="accordion-inner">
			        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laboriosam quidem iusto repellat unde optio sed perferendis natus dicta in magni enim rem eos iure sequi nam asperiores nihil similique.
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
			        婚纱摄影 <span class="accordion-icon"><i class="icon-angle-down"></i></span>
			      </a>
			    </div>
			    <div id="collapseTwo" class="accordion-body collapse">
			      <div class="accordion-inner">
			        consectetur adipisicing elit. Alias laboriosam quidem iusto repellat unde optio sed perferendis natus dicta in magni enim rem eos iure sequi nam asperiores nihil similique.
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
			        休闲度假 <span class="accordion-icon"><i class="icon-angle-down"></i></span>
			      </a>
			    </div>
			    <div id="collapseThree" class="accordion-body collapse">
			      <div class="accordion-inner">
			        Alias laboriosam quidem iusto repellat unde optio sed perferendis natus dicta in magni enim rem eos iure sequi nam asperiores nihil similique.
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
			        海上垂钓 <span class="accordion-icon"><i class="icon-angle-down"></i></span>
			      </a>
			    </div>
			    <div id="collapseFour" class="accordion-body collapse">
			      <div class="accordion-inner">
			        Dolor sit amet, consectetur adipisicing elit. Alias laboriosam quidem iusto repellat unde optio sed perferendis natus dicta in magni enim rem eos iure sequi nam asperiores nihil similique.
			      </div>
			    </div>
			  </div>

			</div>

			</div>
		</div>
	</div>
</div><!-- end: hello -->

<!-- start: section-Member -->
<div class="section-features">
	<div class="container">
		<div class="row">

			<div class="span4">
				<div class="info-features">
					<i class="icon-resize-small"></i>
					<h5>驾驶培训</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora praesentium qui aspernatur amet distinctio.</p>
				</div>
			</div>
			<div class="span4">
				<div class="info-features">
					<i class="icon-ok"></i>
					<h5>航海体验</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora praesentium qui aspernatur amet distinctio. </p>
				</div>
			</div>
			<div class="span4">
				<div class="info-features">
					<i class="icon-edit"></i>
					<h5>VIP活动</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora praesentium qui aspernatur amet distinctio.</p>
				</div>
			</div>

			<div class="span4">
				<div class="info-features">
					<i class="icon-magic"></i>
					<h5>游艇使用</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>
			<div class="span4">
				<div class="info-features">
					<i class=" icon-dashboard"></i>
					<h5>尊享会员</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Tempora praesentium qui aspernatur.</p>
				</div>
			</div>
			<div class="span4">
				<div class="info-features">
					<i class="icon-user-md"></i>
					<h5>优惠打折</h5>
					<p>Consectetur adipisicing elit. Tempora praesentium qui aspernatur  <a href="">contact <i class="icon-envelope"></i></a> </p>
				</div>
			</div>

		</div>
	</div>
</div><!-- end: section-features -->



<!-- start: client -->
<div class="section-wrapper section-testimonial">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="separator">
					<div class="">
						<div class="lines">
							<div>
							<h2 class="lines-title">合作伙伴</h2>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="span2">
				<div class="white-content client-container thumbnail-client">
				  <div class="client-flipper">
				    <div class="client-front">
						{{ theme:image file="client/1.png" }}
				    </div>
				    <div class="client-back">
						<span class="client-back-title">Photoshop <a href="#"><i class="icon-external-link"></i></a></span>
				    </div>
				  </div>
				</div>
			</div>
			<div class="span2">
				<div class="white-content client-container thumbnail-client" >
				  <div class="client-flipper">
				    <div class="client-front">
				    	{{ theme:image file="client/2.png" }}
				    </div>
				    <div class="client-back">
						<span class="client-back-title">Jquery <a href="#"><i class="icon-external-link"></i></a></span>
				    </div>
				  </div>
				</div>
			</div>
			<div class="span2">
				<div class="white-content client-container thumbnail-client" >
				  <div class="client-flipper">
				    <div class="client-front">
				    	{{ theme:image file="client/3.png" }}
				    </div>
				    <div class="client-back">
						<span class="client-back-title">CSS3 <a href="#"><i class="icon-external-link"></i></a></span>
				    </div>
				  </div>
				</div>
			</div>
			<div class="span2">
				<div class="white-content client-container thumbnail-client" >
				  <div class="client-flipper">
				    <div class="client-front">
				    	{{ theme:image file="client/4.png" }}
				    </div>
				    <div class="client-back">
						<span class="client-back-title">GitHub <a href="#"><i class="icon-external-link"></i></a></span>
				    </div>
				  </div>
				</div>
			</div>
			<div class="span2">
				<div class="white-content client-container thumbnail-client" >
				  <div class="client-flipper">
				    <div class="client-front">
				    	{{ theme:image file="client/5.png" }}
				    </div>
				    <div class="client-back">
						<span class="client-back-title">HTML5 <a href="#"><i class="icon-external-link"></i></a></span>
				    </div>
				  </div>
				</div>
			</div>
			<div class="span2">
				<div class="white-content client-container thumbnail-client" >
				  <div class="client-flipper">
				    <div class="client-front">
				    	{{ theme:image file="client/6.png" }}
				    </div>
				    <div class="client-back">
						<span class="client-back-title">Chromium <a href="#"><i class="icon-external-link"></i></a></span>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div><!-- end: client -->

<!-- start: Testimonial -->
<div class="section-wrapper">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="separator">
					<div class="">
						<div class="lines">
							<div>
							<h2 class="lines-title">会员留言</h2>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="span4">
			  <blockquote>
			    <p><i class="icon-quote-left icon-3x pull-left icon-muted"></i>从我们第一次接触，到成品交货，你们都能提出最好的解决方案。 印刷品的执行很好， 传达了我们和我们参会贵宾所习惯的高品质。.</p>
			    <small>黄总 <a href="#"><i class="icon-external-link"></i></a></small> 
			  </blockquote>
			</div>
			<div class="span4">
			  <blockquote>
			    <p><i class="icon-quote-left icon-3x pull-left icon-muted"></i>无论我对质量和时间要求有多高， 我都能依赖他们完成任务。 他们从来没跟我讲过“不行，我们做不到”， 而会和我一起找到价格合理、满足要求的解决办法。</p>
			    <small>Jerry Yang <a href="#"><i class="icon-external-link"></i></a></small> 
			  </blockquote>
			</div>
			<div class="span4">
			  <blockquote>
			    <p><i class="icon-quote-left icon-3x pull-left icon-muted"></i>总是积极地找寻最好的解决方案，并严格遵守时间！ 非常耐心和全面。 ... 花时间给我简洁明了地解释一些技术细节。完美地达到了客户期望，即使时间非常紧。</p>
			    <small>Leonard Bernstein <a href="#"><i class="icon-external-link"></i></a></small> 
			  </blockquote>
			</div>
		</div>
  	</div>
</div><!-- end: Testimonial -->



<!-- start: social icon -->
<div class="section-wrapper section-icon social-icon">
	<div class="container">
		<div class="row">

			<div class="social-icon-phone clear-phone">
				<div class="span1 offset3">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-facebook icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b facebook">
					      	<a href="#"><span class="icon-back"><i class="icon-facebook icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>				
				
				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-twitter icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b twitter">
					      	<a href="#"><span class="icon-back"><i class="icon-twitter icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>	

				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-google-plus icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b google">
					      	<a href="#"><span class="icon-back"><i class="icon-google-plus icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>					
			</div>

			<div class="social-icon-phone clear-phone">
				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-github icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b github">
					      	<a href="#"><span class="icon-back"><i class="icon-github icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>	

				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-pinterest icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b pinterest">
					      	<a href="#"><span class="icon-back"><i class="icon-pinterest icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>					

				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-linkedin icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b linkedin">
					      	<a href="#"><span class="icon-back"><i class="icon-linkedin icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>	
			</div>
		</div>			
	</div>
</div><!-- end: social icon -->

{{ theme:partial name="footer" }}