{{ theme:partial name="header" }}
	
<!-- start: title -->
<div class="page-title">
	<div class="section-wrapper">
		<div class="container">
			<h2>航海体验中心</h2>
		</div>
	</div>
</div><!-- end: title -->

<!-- start: features -->
<div class="section-page-features">
	<div class="section-wrapper">


		<div class="wrapper-features">
			<div class="container">
				<div class="row">

					<div class="span6">
						{{ theme:image file="quick.png" }}
					</div>
					<div class="span6">
						<div class="separator">
							<div class="">
								<div class="lines">
									<div>
									<h3 class="lines-title">游艇鸡尾酒会</h3>
									</div>
								</div>
							</div>
						</div>				

						<p>奢华碰撞，圈层际会。大海之上，觥筹交错问人生；游艇派对，舞乐人生快意享。CBC澳洲中国游艇会携世界顶级游艇驶入三亚海，为您酝酿巅峰游艇主题酒会。恭迎品鉴。</p>	

						<p>奢华碰撞，圈层际会。大海之上，觥筹交错问人生；游艇派对，舞乐人生快意享。CBC澳洲中国游艇会携世界顶级游艇驶入三亚海，为您酝酿巅峰游艇主题酒会。恭迎品鉴。</p>
					</div>	

				</div>	
			</div>
		</div>	

		<div class="wrapper-features">
			<div class="container">
				<div class="row">

					<div class="span6">
						<div class="separator">
							<div class="">
								<div class="lines">
									<div>
									<h3 class="lines-title">海上求婚仪式</h3>
									</div>
								</div>
							</div>
						</div>
					

						<p>为您树一株浪漫的奇葩，孕育一生的回味。一座游艇，一片蔚蓝，为您酿造一生的甜蜜。以海为名，以船为媒。CBC澳洲中国游艇会为您专业铸造奢华游艇婚礼。</p>				

						<p>为您树一株浪漫的奇葩，孕育一生的回味。一座游艇，一片蔚蓝，为您酿造一生的甜蜜。以海为名，以船为媒。CBC澳洲中国游艇会为您专业铸造奢华游艇婚礼。</p>

					</div>

					<div class="span6">
						{{ theme:image file="active-team.png" class="pull-right"}}
					</div>					

				</div>	
			</div>
		</div>

		<div class="wrapper-features">
			<div class="container">
				<div class="row">

					<div class="span6">
						{{ theme:image file="flip.png" }}
					</div>
					<div class="span6">
						<div class="separator">
							<div class="">
								<div class="lines">
									<div>
									<h3 class="lines-title">游艇婚纱摄影</h3>
									</div>
								</div>
							</div>
						</div>				

						<p>缕一袭甜蜜的装扮，缔造属于爱恋的海世情缘；海市蜃景为您聚光，见证海枯石烂的爱情传奇。海阔天地间，拥享属于二人的海上私邸，定格一世永恒的浪漫回忆。CBC澳洲中国游艇会游艇婚纱摄影专注您一生的甜蜜……</p>					

						<p>缕一袭甜蜜的装扮，缔造属于爱恋的海世情缘；海市蜃景为您聚光，见证海枯石烂的爱情传奇。海阔天地间，拥享属于二人的海上私邸，定格一世永恒的浪漫回忆。CBC澳洲中国游艇会游艇婚纱摄影专注您一生的甜蜜……</p>
					</div>	

				</div>	
			</div>
		</div>			



	</div>		
</div><!-- end: features -->		

<div class="section-features">
	<div class="container">
		<div class="row">

			<div class="section-wrapper">

				<div class="separator">
					<div class="left">
						<div class="lines">
							<div>
							<h2 class="lines-title">航海体验中心 · 满足</h2>
							</div>
						</div>
					</div>
				</div>			

				<div class="span3">
					<div class="info-features">
						{{ theme:image file="support/ie8.png" width="100" height="100" }}
						<h6>惊喜</h6>
					</div>
				</div>
				<div class="span3">
					<div class="info-features">
						{{ theme:image file="support/chrome.png" width="100" height="100" }}
						<h6>休闲</h6>
					</div>
				</div>
				<div class="span3">
					<div class="info-features">
						{{ theme:image file="support/firefox.png" width="100" height="100" }}
						<h6>浪漫</h6>
					</div>
				</div>

				<div class="span3">
					<div class="info-features">
						{{ theme:image file="support/opera.png" width="100" height="100" }}
						<h6>高贵</h6>
					</div>
				</div>
				<div class="span3">
					<div class="info-features">
						{{ theme:image file="support/safari.png" width="100" height="100" }}
						<h6>商务</h6>
					</div>
				</div>
				<div class="span3">
					<div class="info-features">
						{{ theme:image file="support/apple.png" width="100" height="100" }}
						<h6>独特</h6>
					</div>
				</div>
				<div class="span3">
					<div class="info-features">
						{{ theme:image file="support/windows-phone.png" width="100" height="100" }}
						<h6>唯一</h6>
					</div>
				</div>
				<div class="span3">
					<div class="info-features">
						{{ theme:image file="support/android.png" width="100" height="100" }}
						<h6>享受</h6>
					</div>
				</div>

			</div>


		</div>
	</div>
</div>

<!-- start: features -->
<div class="section-page-features">
	<div class="section-wrapper">

		<div class="wrapper-features">
			<div class="container">
				<div class="row-fluid">

					<div class="span6">
						<div class="separator">
							<div class="">
								<div class="lines">
									<div>
									<h3 class="lines-title">游艇生日派对</h3>
									</div>
								</div>
							</div>
						</div>
					

					<p>逢生辰吉日，携一座顶级游艇，觅一处海上佳境；邀一圈亲朋佳友，设一席佳肴美酒；来一曲海味民谣，享一回艇派人生。CBC游艇生日派对为生辰的您打造巅峰游艇庆生宴，让尊贵的您在海域中央豪享游艇趣味，在游艇之上冲击人生新壹岁。</p>				

					<p>逢生辰吉日，携一座顶级游艇，觅一处海上佳境；邀一圈亲朋佳友，设一席佳肴美酒；来一曲海味民谣，享一回艇派人生。CBC游艇生日派对为生辰的您打造巅峰游艇庆生宴，让尊贵的您在海域中央豪享游艇趣味，在游艇之上冲击人生新壹岁。</p>

					</div>

					<div class="span6">
						{{ theme:image file="choose.png" class="pull-right" }}
					</div>					

				</div>	
			</div>
		</div>	

		<div class="wrapper-features">
			<div class="container">
				<div class="row-fluid">

					<div class="span6">
						{{ theme:image file="error.png" }}
					</div>
					<div class="span6">
						<div class="separator">
							<div class="">
								<div class="lines">
									<div>
									<h3 class="lines-title">帆船挑战赛</h3>
									</div>
								</div>
							</div>
						</div>				

						<p>帆影点点荡漾团队智慧，乘风破浪跨越艰难使命；高贵典雅乐享大海景致，竞技娱乐快意人生情怀。CBC帆船挑战赛邀您鉴赏汇聚四岛的海岸极境，竞逐海上荣耀的梦幻激情，与我们一起，向冠军进发！！！</p>					

						<p>帆影点点荡漾团队智慧，乘风破浪跨越艰难使命；高贵典雅乐享大海景致，竞技娱乐快意人生情怀。CBC帆船挑战赛邀您鉴赏汇聚四岛的海岸极境，竞逐海上荣耀的梦幻激情，与我们一起，向冠军进发！！！</p>
					</div>	

				</div>	
			</div>
		</div>						


	</div>		
</div><!-- end: features -->

<!-- start: social icon -->
<div class="section-wrapper section-icon social-icon">
	<div class="container">
		<div class="row">

			<div class="social-icon-phone clear-phone">
				<div class="span1 offset3">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-facebook icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b facebook">
					      	<a href="#"><span class="icon-back"><i class="icon-facebook icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>				
				
				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-twitter icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b twitter">
					      	<a href="#"><span class="icon-back"><i class="icon-twitter icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>	

				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-google-plus icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b google">
					      	<a href="#"><span class="icon-back"><i class="icon-google-plus icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>					
			</div>

			<div class="social-icon-phone clear-phone">
				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-github icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b github">
					      	<a href="#"><span class="icon-back"><i class="icon-github icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>	

				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-pinterest icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b pinterest">
					      	<a href="#"><span class="icon-back"><i class="icon-pinterest icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>					

				<div class="span1">
					<div class="flip-container">
					  <div class="flipper">
					    <div class="front ">
					      <div class="flip-a">
					      	<a href="#"><i class="icon-linkedin icon-2x"></i></a>
					      </div>
					    </div>
					    <div class="back">
					      <div class="flip-b linkedin">
					      	<a href="#"><span class="icon-back"><i class="icon-linkedin icon-2x"></i></span></a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>	
			</div>
		</div>			
	</div>
</div><!-- end: social icon -->

{{ theme:partial name="footer" }}