<!DOCTYPE  html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>{{ template:title }} &raquo; {{ settings:site_name }} </title>
  	<meta content="" name="description">
	<meta content="" name="keywords">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<!-- end: Mobile Specific -->

	
	<!-- Set a base location for assets -->
	<base href="{{ url:base }}"/>
	<!-- End base -->

  	<!-- CSS. No need to specify the media attribute unless specifically targeting a media type, leaving blank implies media=all -->
  	{{ theme:css file="bootstrap.css" }}
	{{ theme:css file="bootstrap-responsive.css" }}
	{{ theme:css file="style.css" }}
	{{ theme:css file="uploadify.css" }}
  	<!-- End CSS-->

	<!-- Load up some favicons -->
  	{{ theme:favicon }}

	<!--[if IE 9]>
		<style>.img-mask .flipper {display: none;}</style>
	<![endif]-->  
    <!--[if IE 8]>
		<style>.boxy{position:relative;width:150px;height:150px;}.flipper {overflow: hidden;}.subscribe input[type="text"], .subscribe textarea {width: 35%;}.plan-background {background-position: center;background-repeat: repeat-x;border:none;} .sign-background {background-position: center;background-repeat: repeat-x;border:none;}.countdown-background {background-position: center;background-repeat: repeat-x;border:none;}.page-title {background-position: center;background-repeat: repeat-x;border:none;}.img-mask .flipper {display: none;}</style>	
	<![endif]-->
		{{ theme:js file="jquery.js" }}
</head>

<body>
	<header id="header">

	<!--start: navbar -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
					<span><i class="icon-reorder"></i></span>
				</a>
				<a class="btn btn-navbar" href="sign-in.html"><i class="icon-signin"></i></a>
				<a class="btn btn-navbar" href="tel:3669"><i class="icon-phone"></i></a>
				<a class="btn btn-navbar" href="http://goo.gl/maps/cpLMo"><i class="icon-map-marker"></i></a>

				<a class="brand" href="index.html"><span><i class="icon-stop"></i></span>CBC</a>

				<div id="top-navigation" class="nav-collapse subnav-collapse collapse ">
					<ul class="nav pull-right">
						<li class="active">
							<?php echo anchor('home-new', "首页"); ?></li>
						<li class=""><?php echo anchor('aboutus', "关于我们"); ?></li>
						
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">会员中心<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="portfolio-item.html">会员福利</a></li>
								<li><a href="plan.html">会员价格</a></li>
								<li><?php echo anchor('users/register', "加入我们"); ?></li></li>
								<li><a href="portfolio.html">会员章程</a></li>
								<li><a href="password.html">常见问题</a></li>													
							</ul>
						</li>
						</li>
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">航海中心<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><?php echo anchor('boats-home/services', "所有服务"); ?><a href="features.html"></a></li>
								<li><a href="plan.html">生日派对</a></li>
								<li><a href="sign-up.html">商务拓展</a></li>
								<li><a href="portfolio.html">垂钓生活</a></li>
								<li><a href="password.html">浪漫婚礼</a></li>													
							</ul>
						</li>
						<li class=""><?php echo anchor('blog', "最新动态"); ?></li>
						<li class=""><a href="contact.html">联系我们</a></li>
						<li class="top-account visible-desktop"><a class="top-sign-in" href="sign-in.html">快来加入</a></li>
					</ul>
				</div>	
		
			</div>
		</div>
	</div><!--end: navbar -->

</header>
